body{
    background-color: white;
}

.navbar-default {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#navbar > li > a {
    color: white;
}

#navbar > li > a#current{
    background-color: white;
    color: #E10026;
}

#navbar > li > a:hover {
    background-color: white;
    color: #E10026;
    transition: ease-in-out;
    transition-duration: 0.2s;
}

.navbar-brand {
    margin-top: -2.5rem;
}

ul ul {
    list-style-type: none;
    padding-left: 0;
}

.leiding{
    border-radius: 10px;
}

a {
    color: #E10026;
}

a:hover {
    color: black;
}